{% set tags = h.get_facet_items_dict('tags', search_facets, limit=3) %}
{% set placeholder = _('Eg. environment') %}
{% set dataset_type = h.default_package_type() %}

<div class="homepage module-search vstack gap-2">
    <form class="module-content text-center search-form bg-transparent border-0 px-3 pb-0 mb-0 w-75" method="get" action="{% url_for dataset_type ~ '.search' %}">
        <h1 class="text-uppercase text-white font-light mb-4">{{ g.site_description }}</h1>
        <div class="search-input form-group search-giant">
            <input
                aria-label="{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets') }}{% endblock %}"
                id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off"
                placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
            <button class="btn" type="submit" aria-labelledby="search-label">
                <i class="fa fa-search"></i>
                <span class="sr-only" id="search-label">{{ _('Search') }}</span>
            </button>
        </div>
    </form>
    {% if tags %}
    <div class="tags hstack gap-2 justify-content-center">
        <h4 class="fw-light my-0 me-2">{{ _('Popular tags') }}</h4>
        {% for tag in tags %}
        <a class="btn btn-sm btn-light rounded-pill" href="{% url_for 'dataset.search', tags=tag.name %}" title="{{ tag.display_name }}">{{
            tag.display_name|truncate(22) }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
