{% set all_groups = h.groups_available() %}

<div class="py-3">
  <div class="row gy-3 gx-3">
    {% for group in all_groups %}
        <div class="col-md-4">
          <div class="card">
          <a href="/group/{{ group.id }}">
            <div class="card-body">
              <img class="" src="{{ group.image_display_url }}" width="40" height="40">    
              <h5 class="card-text pt-2 pb-3 text-black">{{ group.title }}</h5>
            </div>
          </a>
          </div>
        </div>
    {% endfor %}
  </div>
</div>