.masthead {
    background: none !important;
}
.box, .wrapper {
    background: none;
}   
.masthead .main-navbar ul li a {
    color: #333333 !important;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Encode Sans', sans-serif !important;
}
.masthead .main-navbar ul li a.active {
    color: rgb(255, 21, 21) !important;
}
.masthead, .box, .wrapper {
    font-family: 'Encode Sans', sans-serif !important;
}
.navbar-nav .nav-item .nav-link.active {
    color: #c02f2a;
}
.navbar-nav .nav-item a:hover {
    color: #ff6347;
    background-color: transparent;
}
.navbar-nav .nav-item .nav-link:focus {
    outline: none;
    box-shadow: none;
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(255, 0, 0);
    background-color: transparent;
}

.navbar-expand-lg .navbar-collapse {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.homepage .module-search {
    box-shadow: none;
    border: none;
    align-items: center;
}
.homepage .module-search .search-form {
    border-radius: 0.25rem;
    background:none;
    padding: 30px 20px 0px 20px;
    color: #7B7B7B;
    text-align: center;
    border:none;
    width: 65%;
}
.homepage .module-search .search-form input {
    border-radius: 100px;
}
.homepage .module-search .tags {
    margin-top: -35px;
    padding: 5px 80px 10px 10px;
    background: none;
    color: #7B7B7B;
}
.search-form .search-input {
    position: relative;
    margin: 20px;
}

.homepage .hero {
    background-image: url('/base/images/1.png');
    background-size: cover;
}
.heading{
    color: #ffffff;
}
.popular{
    color: #ffffff;
}

.site-footer {
    background: none;
}
.site-footer .attribution p {
    color: #7B7B7B;
}

/* OUR DATA section */
.datasets-section {
    text-align: left;
    margin-top: 50px;
}
.categories-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.category-item {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.category-item:hover {
    background-color: #e0e0e0;
}
.group-title {
    color: #000;
    font-weight: bold;
}

/* RECENTLY UPDATED DATASETS section */
.updated-datasets-section {
    text-align: left;
    padding: 20px 0;
    width: 100%;
}
.updated-datasets-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.updated-datasets-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.updated-datasets-section h2 {
    margin-bottom: 30px;
    font-size: 24px;
    padding-bottom: 20px;
}
.updated-datasets-section h2 {
    margin-bottom: 20px;
}
.dataset-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; 
    width: 100%;
    margin: 0 10px; 
    padding: 0;
}
.updated-datasets-section .text-center {
    margin-top: 20px;
}

/* Add Datasets button */
.add-dataset-btn {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.spacer {
    margin-top: 30px;
}

.add-dataset-btn:hover {
    background-color: #c9302c;
}
.site-footer {
    background-color: #33130d; 
}
.updated-datasets-section {
    text-align: center;
    margin-top: 50px;
    padding: 40px 0;
    background-color: #ece9e8;
    width: 100%;
}
.updated-datasets-section .add-dataset-btn:hover {
    background-color: #c9302c;
}
.text-center {
    width: 100%;
    margin-top: 20px;
}
.updated-datasets-section .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    
}
.updated-datasets-section .header-row h2 {
    font-size: 24px;
    margin: 0;
}

.updated-datasets-section .add-dataset-btn-container {
    text-align: right;
}
.group-topics .group-title,
.group-container .group-title {
  font-size: 1.175rem; 
  font-weight: 500;
  line-height: 1.25;
  margin-top: 10px;
  text-decoration-color: #000;
}
.group-topics .group-title span,
.group-container .group-title span {
  font-size: 0.75rem; 
}
.group-topics .group-title i,
.group-container .group-title i {
  font-size: 0.75rem; 
}
.group-topics .group-desc,
.group-container .group-desc {
  margin-top: 1.5rem;
  font-size: 1rem; 
  padding: 0 1.5rem;
}
.group-topics .module-image,
.group-container .module-image {
  padding: 1rem;
}
.group-topics .group-icon,
.group-container .group-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: var(--color-group-icon-background);
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 10px;
}
.group-topics .group-icon img,
.group-container .group-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 10px;
}
.group-topics .group-item-desc,
.group-container .group-item-desc {
  font-size: 1.125rem; 
}
.homepage .group-topics {
    padding: 6.25rem 0.625rem; 
}
.group-topics-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: -20px;
    text-decoration: #000;
}
.group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 375px;
    height: 130px;
}

.group-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.group-item h3 {
    font-size: 12px;
    margin-bottom: 10px;
}
.group-item p {
    font-size: 14px;
    color: #666;
}

.main{
    background-color: #ffffff;
    width: 100%;
    font-family: 'Encode Sans', sans-serif !important;
}
body {
    background-color: #ffffff;
    font-family: 'Encode Sans', sans-serif !important;
  }
.row.wrapper {
    box-shadow: none;
    border: none;
    background-color: #ffffff;
    width: 100%;
  }

.toolbar {
    width: 200%;
    background-color: #f0ece8;
    padding: 10px;
    text-align: center;
    margin-left: -450px;
    margin-right: 100px;
    margin-top: -18px;
}
.toolbar .breadcrumb {
    color: rgb(128, 128, 128);
    margin-left: 425px;
}
.toolbar .breadcrumb li {
    display: inline;
    padding: 0 10px;
}  
.toolbar .breadcrumb a {
    color: rgb(128, 128, 128);
}
.toolbar .breadcrumb .active a {
    color: rgb(128, 128, 128);
}
.breadcrumb .home i.fas.fa-home {
    margin-left: 10px;
}
.white-blocks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    width: calc(100% - 5px);
    margin-left: 15px;
    margin-right: 15px;
}
.white-block {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    min-width: 350px;
    height: 185px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: left;
    color: black;
}
.white-block:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: transform 0.3s, box-shadow 0.3s; 
}

.btn-primary {
    background-color: rgb(185, 24, 24) !important;
    border-color: rgb(185, 24, 24) !important;
    color: #fff !important;
}

h1, h2, h3, h4, h5, h6, .group-title, .category-item h3 {
    font-family: 'Encode Sans', sans-serif !important;
}

.label-info-custom {
    margin-top: -10px;
    color: #333333;
}
