/*
    Root variables overrides
    https://getbootstrap.com/docs/5.3/customize/css-variables/#root-variables
*/
:root,
[data-bs-theme="light"] {
  --bs-primary: #ca3f16;
  --bs-primary-rgb: 202, 63, 22;
  --bs-secondary: #fd9907;
  --bs-secondary-rgb: 253, 153, 7;
  --bs-dark: #2b170c;
  --bs-dark-rgb: 43, 23, 12;
  --bs-highlight-color: var(--bs-secondary);
  --bs-emphasis-color: var(--bs-secondary);
  --bs-focus-ring-color: rgba(var(--bs-secondary), 0.25);
  --bs-link-color: var(--bs-dark);
  --bs-gray-100: #f8f9fa;
  --bs-light: #f4f2ee;
  --bs-dark-line: #111111;
  --bs-gray-200: #e9ecef;
  --bs-body-font-family: "BwGradual", sans-serif;
}
.masthead {
  background: none !important;
}
a {
  color: var(--bs-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--bs-secondary);
  text-decoration: inherit;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: var(--bs-primary);
  text-decoration: inherit;
}
.box,
.wrapper {
  background: transparent;
}
.account-masthead .account ul li a:hover {
  background-color: transparent;
} 
.masthead .main-navbar ul li a {
  color: var(--bs-link-color) !important;
  font-size: 18px;
  text-decoration: none;
}
.masthead .main-navbar ul li a.active {
  color: var(--bs-primary) !important;
}
.masthead .main-navbar ul li:hover a,
.masthead .main-navbar ul li:focus a,
.masthead .main-navbar ul li.active a {
  border-radius: 0.3rem;
  background-color: var(--bs-white);
}
.navbar-nav .nav-item {
  margin-bottom: -25px;
}
.homepage .hero {
  background-image: url("/base/images/onicse-header.png") !important;
  background-size: cover;
}
.main {
  background-color: var(--bs-white) !important;
  background-image: none !important;
  box-shadow: none !important;
  border: none !important;
}
.toolbar {
  background-color: var(--bs-light);
  padding: 10px;
}
.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: var(--bs-white) !important;
}
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 8px;
}
.font-light {
  font-weight: 300;
}
.module-narrow .nav-item.active > a,
.module-narrow .nav-aside li.active a {
  background-color: var(--bs-dark);
  flex-grow: 1;
}
.module-narrow .nav-item.active > a:hover,
.module-narrow .nav-aside li.active a:hover {
  background-color: var(--bs-dark);
}
.module-narrow .nav-item.active > a::before,
.module-narrow .nav-aside li.active a {
  border-right: none;
  border-left-color: var(--bs-dark);
  border-left-width: 6px;
  top: 0;
  bottom: 0;
  right: -6px;
  width: 6px;
  height: 34px;
}
.module-narrow .nav-item.active,
.module-narrow .nav-aside li.active {
  background-color: transparent !important;
}
.pill {
  background-color: var(--bs-dark) !important;
}
.page-header .nav-tabs li a {
  color: var(--bs-secondary);
}
.page-header .nav-tabs li a:hover {
  color: var(--bs-secondary);
}
.updated-datasets-section {
  padding: 50px 0;
  background-color: var(--bs-light);
  width: 100%;
}
