
{% set group = group or pkg %}

<!-- Set type of item -->
{% if type is defined %}
  {% do group.update({'type': 'group'}) %}
{% elif group.type is defined %}
{% else %}
  {% do group.update({'type': 'datarequest'}) %}
{% endif %}

<!-- Set description -->
{% if group.type == "dataset" or group.type == "showcase" %}
  {% set description = group.notes %}
{% else %}
  {% set description = group.description %}
{% endif %}

<!-- Set URL for item -->
{% if group.type != 'datarequest' %}
  {% set url = h.url_for(group.type ~ '_read', id=group.name or group.title) %}
{% else %}
  {% set url = h.url_for('datarequests.show', id=group.get('id', '')) %}
{% endif %}

{% block featured_item %}
<a href="{{ url }}" class="featured-item {{ group.type }}-item">
  {% block featured_item_header %}
  {% set truncate = truncate or 0 %}
  {% set truncate_title = truncate_title or 0 %}
  {% set title = group.title or group.name %}
  <div class="title-wrap">
    {% if group.type == "organization" or group.type == "group" or group.type == "showcase" %}
      {% block featured_item_header_image %}
      <div class="group-icon">
        <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-' + group.type + '.png') }}"
          alt="{{ group.name }}" />
      </div>
      {% endblock %}
    {% endif %}
    {% block featured_item_header_title %}
    <h3 class="{% if group.type == 'dataset' %}dataset-title{% else %}group-title{% endif %}">
      {% if group.type == 'datarequest' %}
        {% if group.get('closed', False) %}
          <span class="uppercase label label-closed">
            <i class="icon-lock fa fa-lock"></i> {% trans %}Closed{% endtrans %}
          </span>
        {% else %}
          <span class="uppercase label label-open">
            <i class="icon-unlock fa fa-unlock"></i> {% trans %}Open{% endtrans %}
          </span>
        {% endif %}
      {% endif %}
      {% block heading_private %}
      {% if group.private %}
        <span class="dataset-private label label-inverse">
          <i class="fa fa-lock"></i>
          {{ _('Private') }}
        </span>
      {% endif %}
      {% endblock %}

      {{ group.title or group.name }}
    </h3>
    {% endblock %}
  </div>
  {% endblock %}

  {% set created_at = h.get_date_by_id(group.id) %}
  {% if created_at %}
    <div class="creation-date">
      <span class="label label-info-custom">{{ created_at.strftime('%B %d, %Y') }}</span>
    </div>
  {% endif %}

  {% if group.type == 'datarequest' %}
    <div class="datarequest-properties">
      {% if h.show_comments_tab() %}
        <i class="icon-comment fa fa-comment"></i> {{ h.get_comments_number(group.get('id', '')) }}
      {% endif %}
      <div class="divider">
        <span class="date-datarequests">{{ h.time_ago_from_timestamp(group.open_time) }}</span>
      </div>
    </div>
  {% endif %}
 
  {% if group.user_member %}
    <input name="group_remove.{{ group.id }}" value="{{ _('Remove') }}" type="submit" class="btn btn-danger btn-sm media-edit" title="{{ _('Remove dataset from this group') }}"/>
  {% endif %}
  {% if show_remove %}
    <form method="post"><input type="hidden" value="{{ group.id }}" name="remove_showcase_id" /><input value="{{ _('Remove') }}" type="submit" class="btn btn-danger btn-small media-edit" title="{{ _('Remove dataset from this showcase') }}"/></form>
  {% endif %}
</a>
{% endblock %}
